@model PostsPorCategoriaViewModel
@{
    ViewData["Title"] = "Lista de posts por categoria";
}
<vc:carrossel></vc:carrossel>

<div class="">
    <div class="container  pt-3">
        <nav aria-label=" breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Categoria">Categorias</a></li> 
                <li class="breadcrumb-item active text-white" aria-current="page">Artigos em @ViewBag.Categoria</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row">
        <partial name="~/Views/Post/PesquisaMobile.cshtml"   />

        <div class="col-md-8 col-sm-12 col-xs-12">
            <partial name="Lista" model="Model.Posts" />
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <partial name="~/Views/Post/PesquisaDesktop.cshtml"   />
            <vc:categorias></vc:categorias>
            <vc:tags></vc:tags>
            <vc:posts-recentes></vc:posts-recentes>          
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function(){
            $(".nav-link").last().addClass("active");
        });
    </script>
}