@{
    ViewData["Title"] = "Home Page";
}

<vc:carrossel></vc:carrossel>

<div class="container pt-3">
    <div class="row">
        <partial name="~/Views/Post/PesquisaMobile.cshtml"   />

        <div class="col-md-8 col-sm-12 col-xs-12">  
            <partial name="~/Views/Post/Lista.cshtml" model="@ViewBag.PostsRecentes" />
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12" >
            <partial name="~/Views/Post/PesquisaDesktop.cshtml"   />
            <vc:categorias></vc:categorias>
            <vc:tags></vc:tags>
            <vc:posts-recentes></vc:posts-recentes>  
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function(){
            $(".nav-link").first().addClass("active")
        })
    </script>
}