@model List<Categoria>

<div class="container">
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0"> 
                            <li class="breadcrumb-item active" aria-current="page">Categorias</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h1>Lista de categorias</h1>
            @if(Model == null || Model.Count == 0)
            {
                <div class="alert alert-info">Nenhuma categoria cadastrada</div>
            }
            else
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="10px"></th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-danger" type="button">Remover</button>
                            </td>
                            <td>@item.Nome</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            
        </div>
    </div>
    <div>
        <a asp-action="Cadastrar" class="btn btn-primary">Cadastrar</a>
    </div>
</div>