@model List<CategoriaViewModel>

@if(Model == null)
{
    <div class="alert alert-info">Nenhuma categoria cadastrada</div>
}
else{
    <div class="container  pt-3">
       <nav aria-label=" breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active text-white" aria-current="page">Lista de categorias</li>
            </ol>
        </nav> 

       
            <ul class="list-group ">
                @foreach (var item in Model)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a asp-action="PorCategoria" asp-controller="Post" asp-route-id="@item.Id">
                            @item.Nome 
                        </a>
                        <span class="badge bg-primary rounded-pill float-end">@item.QtdPosts</span>
                    </li>
                }
            </ul> 
           
    </div>
}

@section scripts{
    <script>
        $(function(){
            $(".nav-link").last().addClass("active");
        });
    </script>
}